@import './variables.scss';
@import './transition.scss';
@import './sidebar.scss';
@import './btn.scss';

html {
    //此处也设置成高度等于100%，呼应body的高度等于100%，只是为了兼容IE6、firefox
    height: 100%;
    // border-box 告诉浏览器去理解你设置的边框和内边距的值是包含在width内的
    box-sizing: border-box;
}

body {
    // 设置body高度100%自适应屏幕 即高度自适应
    height: 100%;
    // 设置grayscale对于图标字体表现更清晰
    -mos-osx-font-smoothing: grayscale;
    // 对字体进行抗锯齿渲染可以使字体看起来会更清晰舒服。在图标字体成为一种趋势的今天，抗锯齿渲染使用也越来越多。
    // antialiased ------抗锯齿很好
    /*chrome、safari*/
    -webkit-font-smoothing: antialiased;
    // CSS关于文本渲染的属性text-rendering告诉渲染引擎工作时如何优化显示文本。 浏览器会在渲染速度、易读性（清晰度）和几何精度方面做一个权衡
    // 文本渲染 当绘制文本时，浏览器会侧重文本的可读性（清晰度），而不是渲染速度和几何 精度
    // 该属性值可以用于字距调整和连字
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    perspective: 500;
    -webkit-perspective: 500
}

label {
    font-weight: 700;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    //从父元素继承
    box-sizing: inherit;
}

.no-padding {
    padding: 0px !important;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    //应该从父元素继承颜色
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}

a:active {
    outline: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: inline-block;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

aside {
    background: #eef1f6;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        color: #337ab7;
        cursor: pointer;

        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

// 全局样式
.app-main {
    min-height: 100%;
}

.app-container {
    padding: 20px;
}

.components-container {
    margin: 30px 50px;
    position: relative;
}

.text-center {
    text-align: center;
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  
    &.draft {
      background: #d0d0d0;
    }
  }

.filter-container {
    padding-bottom: 10px;
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;

    &:hover {
        color: rgb(32, 160, 255);
    }
}

.filter-container {
    padding-bottom: 10px;

    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
        margin-right: 5px;
    }
}